<% provide(:title, '') %>

<div class="pure-g-r">
  <div class="text-box pure-u-1">
    <div class="l-box">
      <div class="text-box-head" id="matilde-head">Share recipes from around the world</div>
      <p class="text-box-subhead">Login  /  Sign Up</p>
    </div>
  </div>

  <div class="photo-box pure-u-1-4 red">
    <a href="#">  
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>

  <div class="photo-box pure-u-1-4 creme">
  <a href="#">  
    <%= render :partial => 'layouts/circle' %>
  </a>
  </div>

  <div class="photo-box pure-u-1-4 red">
    <a href="#">  
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>

  <div class="photo-box pure-u-1-4 creme">
    <a href="#">  
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>

  <div class="photo-box pure-u-1-4 pink">
    <a href="#">  
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>

  <div class="photo-box pure-u-1-4 light-pink">
    <a href="#">
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>

  <div class="photo-box pure-u-1-4 pink">
    <a href="#">
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>

  <div class="photo-box photo-box pure-u-1-4 light-pink">
    <a href="#">
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>

  <div class="photo-box photo-box pure-u-1-4 red">
    <a href="#">
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>

  <div class="photo-box photo-box pure-u-1-4 creme">
    <a href="#">
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>

  <div class="photo-box photo-box pure-u-1-4 red">
    <a href="#">
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>

  <div class="photo-box photo-box pure-u-1-4 creme">
    <a href="#">
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>
</div> 
