<div class="single-article" id="new-article-wrapper">
	<div class="article-img">
		<% if article.img? %>
			<%= filepicker_image_tag article.img, w: 110, h: 110 %>
		<% else %>
			<div class="no-photo">
				No Photo
			</div>
		<% end %>
	</div>
	<div class="article-name article-node">
		<label>Name</label><br>
		<%= best_in_place article, :name %>
	</div>
	<div class="article-price article-node">
		<label>Price</label><br>
		<%= best_in_place article, :price, label: "Price ($)" %>
	</div>
	<div style="clear:both;"></div>
	<div class="delete-article">
		<span class="fontawesome-remove" data-toggle="modal" data-target="#article-<%= article.id %>"></span>

		<div class="modal fade" id="article-<%= article.id %>">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		      	<p>
		      		Sure you want to delete <%= article.name %>?
		      	</p>
		      </div>
		      <div class="modal-footer">
		      	<%= link_to "Yarp!", article, method: :delete, remote: true, class: "orange-button" %>
		    	</div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
</div>