<% content_for :dashboard_content do %>
	<div id="article-container">
		<%= link_to "+ Add New Article", "#!", id: "new-article" %>

		<%= simple_form_for Article.new, remote: true, html: {id: "new-article-form"} do |f| %>
			<div class="single-article" id="new-article-wrapper">
				<div class="article-img">
					<%= f.filepicker_field :img, button_class: "article-button", button_text: "Add Photo", services: "COMPUTER", onchange: "$('.article-button').hide(); $('.img-added').show();" %>
					<div class="img-added">
						Image Added
					</div>
				</div>
				<div class="article-name article-node">
					<%= f.input :name, required: false %>
				</div>
				<div class="article-name article-node">
					<%= f.input :cleaning_method, collection: [["dryclean", "dryclean"], ["launder", "launder"], ["other", "other"]] %>
				</div>
				<div class="article-price article-node">
					<%= f.input :price, as: :string, label: "Price ($)", required: false %>
				</div>
				<div style="clear:both;"></div>
				<br>
				<%= f.button :submit, class: "button orange-button" %>
			</div>
		<% end %>

		<div id="new-article-popup">
		</div>

		<div id="all-articles">
			<%= render @articles %>
		</div>
	</div>
<% end %>