<div class="pure-form pure-form-stacked">
	<%= form_for(@recipe) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<fieldset class="pure-group">
			<% if @recipe.filepicker_url? %>
				<div class="same-line">
					<%= filepicker_image_tag @recipe.filepicker_url, w:  60, h: 60, fit: 'clip' %>
					<div class="link-lookalike-position">
						<%= f.filepicker_field :filepicker_url, button_text: "Upload New Photo", class: "link-lookalike" %>
					</div>
				</div>
			<% else %>
				<%= f.filepicker_field :filepicker_url, button_text: "Upload Photo", class: "link-lookalike" %>
			<% end %>

			

			<%= f.label :title %>
			<%= f.text_field :title, placeholder: "title" %>

			<%= f.label :slug %>
			<%= f.text_field :slug %>

			<%= f.label :description %>
			<%= f.text_area :description %>

			<br/>
			<%= f.label :visible %>
			<%= f.check_box :visible %>
			<br/>
		</fieldset>

		<%= f.submit "Update Recipe", class: "pure-button pure-button-primary" %>
	<% end %>
</div>