<div id="spinning-wheel">
</div>

<div id="home-container">
	<% @recipes.each do |recipe| %>
		<div class="home-item">
			<%= link_to recipe_path(recipe) do %>
				<div class="home-image">
					<%= filepicker_image_tag recipe.recipe_images[0].img if recipe.recipe_images.any? %>
				</div>

				<div class="home-name">
					<%= recipe.name %>
				</div>

				<div class="home-time">
					<%= recipe.time %> minutes
				</div>

				<div class="home-user-name">
					by <%= User.where(id: recipe.user_id)[0].name %>
				</div>

				<div class="story">
					<%= recipe.story %>
				</div>

				<div class="upvote">
					<% if !current_user.voted_on?(recipe) %>
						<%= link_to('vote up!', vote_up_recipe_path(recipe), :method => :post, class: "upvote-link") %>
					<% end %>
					<%= pluralize recipe.votes.count, 'vote' %>
				</div>
			<% end %>
			<div style="clear:both;"></div>
		</div>
	<% end %>
</div>

<script>
	$(document).ready(function(){
		$("#spinning-wheel").animate({rotate: '2000'}, 10000);
	});

	jQuery(window).on('load', function(){ 
		var $ = jQuery;
		var $container = $('#home-container');
    $container.masonry({
      columnWidth:400, 
      itemSelector: '.home-item'
    }).promise().done(function(){
    	$("#spinning-wheel").remove();
    	$("#home-container").css({"visibility":"visible"});
    });
	});
</script>