<div id="sign-up-section">
	<div class="taglines">
		<div class="tag-h1">
			Your Virtual Recipe Book
		</div>
		<div class="tag-h2">
			Record old recipes and refine the way you cook. Discover new recipes and try them out yourself.
			<br>
			It's free! Sign up below. 
		</div>
	</div>

	<div class="signup" id="signup-form">
		<%= simple_form_for User.new do |f| %>
			<div class="signup-section name-section">
				<label>Your Name</label>
				<%= f.input :name, label: false, class: "name" %>
			</div>
			<div class="signup-section">
				<label>Email Address</label>
				<%= f.input :email, label: false, class: "email" %>
			</div>
			<div class="signup-section">
				<label>Password</label>
				<%= f.input :password, label: false, class: "password" %>
			</div>
			<div class="signup-footer">
				<div class="login">
					Already signed up? 
				</div>
				<%= link_to "Sign in.", "#!", class: "login-link", id: "signin-link" %> 
				<%= f.submit "Get Started" %>
				<div style="clear:both;"></div>
			</div>
		<% end %>
	</div>

	<div class="signup" id="signin-form">
		<%= simple_form_for :session, url: sessions_path do |f| %>
			<div class="signup-section name-section">
				<label>Email Address</label>
				<%= f.input :email, label: false, class: "email" %>
			</div>
			<div class="signup-section">
				<label>Password</label>
				<%= f.input :password, label: false, class: "password" %>
			</div>
			<div class="signup-footer">
				<div class="login">
					Don't have an account?
				</div>
				<%= link_to "Sign up.", "#!", class: "login-link", id: "signup-link" %> 
				<%= f.submit "Get Started" %>
				<div style="clear:both;"></div>
			</div>
		<% end %>
	</div>

	<div class="learn-more">
		<div class="learn-more-button" id="home-scroll">
			<%= link_to "#learning-section" do %>
				<span class="fontawesome-chevron-down"></span> &nbsp;&nbsp; Learn More
			<% end %>
		</div>
	</div>
</div>

<div id="learning-section">
	<div class="learning-subtitle">
		Post A Recipe
	</div>
	<div class="learning-title">
		Learn How to Share Your Recipes With the World
	</div>
	<div class="learning-video-button">
		<span class="fontawesome-play-circle" data-toggle="modal" data-target="#videoModal"></span>
	</div>
	<div class="modal fade" id="videoModal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <div class="video">
	        	<!-- PUT VIDEO HERE -->
	        </div>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>

<div id="do-it">
	<div class="do-it-subtitle">
		It's Stupid Simple
	</div>

	<div class="do-it-signup">
		Sign up takes less than a minute.
	</div>

	<div id="do-it-signup-button">
		<%= link_to "#sign-up-section", class: "orange-button" do %>
			Sign Up Now
		<% end %>
	</div>
</div>