<!-- add images to recipe -->

<div id="create-recipe-five" class='main-padding'>
	<div class="new-recipe-header">
		Add out popped...
	</div>

	<div class="recipe-image-section">
		<%= form_for RecipeImage.new, remote: true, html: {id: "new-recipe-image-form"} do |f| %>
			<%= f.filepicker_field :img, button_class: "btn btn-default add-ingredient-btn", button_text: "Add a new photo", onchange: "$('.hidden-button').trigger('click');" %>
			<%= f.hidden_field :recipe_id, id: "recipe-id-field-three" %>
			<%= f.submit nil, class: "hidden-button", style: "display: none;" %>
		<% end %>
		<div style='clear:both;'></div>
	</div>

	<div class="list-photos">
		<div class="new-photos">
		</div>
		<%= render @recipe_images %>

		<div style="clear:both;"></div>
	</div>

	<div style="clear:both;"></div>

	<button class="btn btn-default" id="back-btn-three">Back</button>
	<%= link_to raw("<i class='fa fa-cutlery'></i>&nbsp;&nbsp;Go See Your Recipe!"), '/my-recipes', class: 'btn btn-default btn-success', id: 'next-btn-five' %>
</div>