<div id="create-recipe-three" class='main-padding'>
	<div class="new-recipe-header">
		I just threw in a few ingredients like...
	</div>

	<ul class="ingredient-section">
		<li>
			<div class="ingredient-row row">
				<div class="col-md-1" style="max-width: 20px;">
					<i class="fa fa-check"></i>
				</div>

				<%= form_for Ingredient.new, remote: true, html: {id: "new-ingredient-form"} do |f| %>
				<div class="col-md-11">
					<%= f.text_field :name, placeholder: "2 teaspoons of sesame oil", class: "ingredient" %>
					<%= f.hidden_field :recipe_id, id: "recipe-id-field" %>
					<%= f.submit "Add this ingredient", class: "add-ingredient-btn btn btn-default" %>
				</div>
				<% end %>
			</div>
		</li>
		<div class="ingredient-list">
			<%= render @ingredients %>
		</div>
	</ul>

	<button class="btn btn-default btn-success" id="next-btn-three">Next&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button>
</div>
