<li>
	<%= link_to recipe_path(recipe) do %>
		<%= recipe.title %>
		<% if recipe.filepicker_url %>
			<%= filepicker_image_tag recipe.filepicker_url, w: 160, h: 160, fit: 'clip' %>
		<% end %>
	<% end %>

	<% if current_user %>
		<%= link_to "edit", edit_recipe_path(recipe) %>
		<%= link_to "delete", recipe, method: :delete,
																	data: { confirm: "You sure?" } %>
	<% end %>
</li>