<!-- displays the recipe name in the browser tab -->

<% provide(:title, @recipe.name) %>


<!-- toolbar to scroll to each section -->

<div id="recipe-scroll">
	<ul class="nav">
		<li>
			<a href="#images" title="Recipe Images" id="images-link"><span class="fontawesome-picture"></span></a>
		</li>
		<li>
			<a href="#story" title="What's The Story?" id="story-link"><span class="fontawesome-book"></span></a>
		</li>
		<li>
			<a href="#recipe" title="Learn To Cook This" id="recipe-link"><span class="fontawesome-list-ul"></span></a>
		</li>
		<li>
			<a href="#comments" title="Comments" id="comments-link"><span class="fontawesome-comment-alt"></span></a>
		</li>
	</ul>
</div>


<!-- carousel, recipe name, and voting -->

<div id="images">
	<% if current_page?(edit_recipe_path(@recipe)) %>
		<%= form_for RecipeImage.new, remote: true, html: { id: "new-recipe-image-form" } do |f| %>
			<%= f.filepicker_field :img, button_class: "recipe-image-button", button_text: "<span class='fontawesome-plus'></span>", onchange: "$('.hidden-button').trigger('click');" %>
			<%= f.hidden_field :recipe_id, id: "recipe-id-field-three", value: @recipe.id %>
			<%= f.submit nil, class: "hidden hidden-button" %>
		<% end %>
	<% end %>

	<div class="recipe-details-section">
		<div class="recipe-name">
			<%= best_in_place @recipe, :name %>
		</div>
		<div class="pull-left recipe-voting">
			<% if !current_user.voted_on?(@recipe) %>
				<%= link_to(raw("<span class='fontawesome-heart'></span>"), vote_up_recipe_path(@recipe), :method => :post) %>
			<% else %>
				<span class='fontawesome-heart red'></span>
			<% end %>
			<%= @recipe.votes.count %>
		</div>
		<div class="pull-right time">
			<%= best_in_place @recipe, :time %> minutes
		</div>
		<div style="clear:both;"></div>
	</div>

	<div id="recipe-images" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner recipe-images">
	    <% @recipe.recipe_images.each_with_index do |recipe_image, i| %>
		    <% if i == 0 %>
		    <div class="active item" style="text-align: center;">
		    <% else %>
		    <div class="item" style="text-align: center;">
		    <% end %>
		    <%= filepicker_image_tag recipe_image.img, w: 800, h: 350 , fit: 'crop' %>
		    <% if current_page?(edit_recipe_path(@recipe)) %>
	    		<%= link_to raw("<span class='fontawesome-remove'></span>"), recipe_image, method: :delete, remote: true, class: "remove-recipe-image" %>
	    	<% end %>
		    </div>
	    <% end %>
	  </div>

	  <% if @recipe.recipe_images.count > 1 %>
		  <a class="left carousel-control" href="#recipe-images" data-slide="prev">
		    <div class="fontawesome-chevron-left"></div>
		  </a>
		  <a class="right carousel-control" href="#recipe-images" data-slide="next">
		    <div class="fontawesome-chevron-right"></div>
		  </a>
		 <% end %>
	</div>
</div>


<!-- user name and recipe story -->

<div id="story">
	<%= filepicker_image_tag @user.filepicker_url, w: 180 %>
	<div class="user-name">
		<%= @user.name %>
	</div>
	<div class="date">
		<%= @recipe.created_at.strftime("%D") %>
	</div>
	<div class="story">
		<%= best_in_place @recipe, :story, type: :textarea, nil: "Your recipe doesn't have a story! Click here to add one now!" %>
	</div>
</div>


<!-- ingredients and steps -->

<div id="recipe">
	<div class="ingredient-section">
		<div class="ingredient-header">
			Ingredients
		</div>

		<% if current_page?(edit_recipe_path(@recipe)) && current_user.id == @recipe.user_id %>
			<%= form_for Ingredient.new, remote: true, html: {id: "new-ingredient-form", class: ("hidden" unless @ingredients.any?)} do |f| %>
				<%= f.text_area :name, placeholder: "2 teaspoons of sesame oil", class: "ingredient" %>
				<%= f.hidden_field :recipe_id, value: @recipe.id, id: "recipe-id-field" %>
				<%= f.submit "Add this ingredient", class: "btn btn-default" %>
			<% end %>
		<% end %>

		<table class="ingredient-list">
			<%= render @ingredients %>
		</table>

		<% if current_user.id == @recipe.user_id && !@ingredients.any? && current_page?(edit_recipe_path(@recipe.id)) %>
			<div class="add-ingredient missing-info" >
				<div class="emojicon">
					(╯°□°)╯︵ ┻━┻
				</div>
				<div class="emojicon-subtext">
					What do you mean you don't need any ingredients?! Click me and add one now!
				</div>
			</div>
		<% end %>
	</div>

	<div class="step-section">
		<div class="step-header">
			Steps
		</div>
		<% if current_page?(edit_recipe_path(@recipe)) && current_user.id == @recipe.user_id %>
			<%= form_for Step.new, remote: true, html: {id: "new-step-form", class: ("hidden" unless @steps.any?) } do |f| %>
				<%= f.text_area :description, class: "ingredient", placeholder: "Just throw it in the oven at 350 degrees for 15 minutes." %>
				<%= f.hidden_field :recipe_id, value: @recipe.id, id: "recipe-id-field-two" %>
				<%= f.submit "Add this step", class: "btn btn-default" %>
			<% end %>
		<% end %>
		<ol class="step-list">
			<%= render @steps %>
		</ol>
		<% if current_user.id == @recipe.user_id && !@steps.any? && current_page?(edit_recipe_path(@recipe.id)) %>
			<div class="add-step missing-info">
				<div class="emojicon">
					ლ(ಠ益ಠლ)
				</div>
				<div class="emojicon-subtext">
					Y U NO have any steps?!<br>
					Click me and add one now!
				</div>
			</div>
		<% end %>
	</div>
	<div style="clear:both;"></div>
</div>


<!-- comments -->

<div id="comments">


	<!-- Picture of current user -->

	<div class="new-comment-section">
		<div class="current-user-img">
			<%= filepicker_image_tag current_user.filepicker_url, w: 70, h: 70, fit: 'clip' %>
		</div>


		<!-- form to add new comment to this recipe -->
		<div class="comment-form-wrapper">
			<%= simple_form_for Comment.new, remote: true, html: { id: "new-comment-form" } do |f| %>
				<%= image_tag("arrow.png") %>
				<%= f.input :content, label: false, placeholder: "Share your thoughts..." %>
				<%= f.hidden_field :recipe_id, id: "recipe-id-field", value: @recipe.id %>
				<%= f.hidden_field :user_id, id: "user-id-field" %>
				<div style="clear:both;"></div>
				<%= f.submit "Comment!", class: "new-comment-btn btn btn-default" %>
			<% end %>
		</div>
		<div style="clear:both;"></div>
	</div>


	<!-- Every time a user posts a comment, our site will post the contents of _comment.html.erb inside this add-new-comments div. Make sure you redesign _comment.html.erb too.  -->

	<div class="new-comments">
	</div>


	<!-- loads all comments -->

	<% @recipe.comments.each do |comment| %>
		<div class="new-comment-section">
			<div class="current-user-img">
				<%= filepicker_image_tag User.where(id: comment.user_id).first.filepicker_url, w: 70, h: 70, fit: 'clip' %>
			</div>
			<div class="comment-form-wrapper">
				<div class="content">
					<%= comment.content %>
					<div class="date">
						<%= comment.created_at.strftime("%D") %>
					</div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
	<% end %>

	<div style="clear:both;"></div>
</div>





<!-- COMMENT OUT CLONE FEATURES UNTIL LATER RELEASE -->
<% if false %>
<!-- shows whether the recipe has been cloned. False if not. True if it is -->

<%= @recipe.clone %>


<!-- clones recipe -->

<%= link_to "Try it out!", @recipe.clone_recipe(current_user) %>
<% end %>