<!-- displays the recipe name in the browser tab -->


<% provide(:title, @recipe.name) %>


<!-- Vote this recipe up. This will disappear when the user alread voted or isn't signed in -->

<% if signed_in? %>
	<% if !current_user.voted_for?(@recipe) %>
		<%= link_to "up", vote_recipe_path(@recipe, type: "up"), method: "post" %>
	<% end %>
<% end %>


<!-- counts number of votes for this recipe -->

<%= pluralize @recipe.reputation_for(:votes).to_i, "vote" %>


<!-- shows whether the recipe has been cloned. False if not. True if it is -->

<%= @recipe.clone %>


<!-- clones recipe -->

<%= link_to "Try it out!", @recipe.clone_with_associations(current_user, @recipe) %>


<!-- recipe name -->

<%= @recipe.name %>


<!-- recipe time -->

<%= @recipe.time %> minutes


<!-- show all of recipe images in carousel -->

<div id="recipe-images" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
  <% @recipe.recipe_images.each_with_index do |recipe_image, i| %>
  	<% if i == 0 %>
  		<li data-target="#recipe-images" class="active">
  	<% else %>
  		<li data-target="#recipe-images" >
  	<% end %>
  <% end %>
  </ol>

  <div class="carousel-inner">
  	<% @recipe.recipe_images.each_with_index do |recipe_image, i| %>
  	<% if i == 0 %>
  	<div class="active item">
  	<% else %>
    <div class="item">
    <% end %>
    	<%= filepicker_image_tag recipe_image.img, w: "100%", h: "85%", fit: 'crop' %>
    </div>
    <% end %>
  </div>

  <a class="left carousel-control" href="#recipe-images" data-slide="prev">
    <div class="fontawesome-chevron-left"></div>
  </a>
  <a class="right carousel-control" href="#recipe-images" data-slide="next">
    <div class="fontawesome-chevron-right"></div>
  </a>
</div>


<!-- Picture of current user -->

<%= filepicker_image_tag current_user.filepicker_url, w: 50, h: 50, fit: 'clip' %>


<!-- form to add new comment to this recipe -->

<%= simple_form_for Comment.new, remote: true, html: { id: "new-comment-form" } do |f| %>
	<%= f.input :content, label: false, placeholder: "Share your thoughts..." %>
	<%= f.hidden_field :recipe_id, id: "recipe-id-field", value: @recipe.id %>
	<%= f.hidden_field :user_id, id: "user-id-field" %>
	<%= f.submit "Post", class: "btn btn-default" %>
<% end %>


<!-- Every time a user posts a comment, our site will post the contents of _comment.html.erb inside this add-new-comments div. Make sure you redesign _comment.html.erb too.  -->

<div class="add-new-comments">
</div>


<!-- loads all comments -->

<div class="comment-list">
<% @recipe.comments.each do |comment| %>
	
	<%= filepicker_image_tag User.where(id: comment.user_id).first.filepicker_url, w: 50, h: 50, fit: 'clip' %>
	<%= comment.content %>
	<%= comment.created_at.strftime("%D") %>
<% end %>


<!-- details of user who created the recipe -->

<%= filepicker_image_tag @user.filepicker_url, w: 100, h: 100, fit: 'clip' %>
<%= @user.name %>


<!-- recipe story -->

<%= @recipe.story %>


<!-- list all of this recipe's ingredients -->

<% @recipe.ingredients.each do |ingredient| %>
	<%= ingredient.name %>
<% end %>


<!-- list all of this recipe's steps -->
		
<% @recipe.steps.each do |step| %>
	<%= step.description %>
<% end %>
		

<!-- makes messaging realtime -->

<%= subscribe_to "/comments/new" %>