<div id="create-recipe-four" class='main-padding'>
	<div class="new-recipe-header">
		I whipped it up in a few steps...
	</div>

	<ol class="step-section">
		<div class="step-list">
			<%= render @steps %>
		</div>
		<li>
			<%= form_for Step.new, remote: true, html: {id: "new-step-form"} do |f| %>
				<%= f.text_field :description, class: "ingredient", placeholder: "Just throw it in the oven at 350 degrees for 15 minutes." %>
				<%= f.hidden_field :recipe_id, id: "recipe-id-field-two" %>
				<%= f.submit "Add this step", class: "add-ingredient-btn btn btn-default" %>
			<% end %>
		</li>
	</ol>

	<button class="btn btn-default" id="back-btn-two">Back</button>
	<button class="btn btn-default btn-success" id="next-btn-four">Next&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button>
</div>