<div class="header">
	<h1><%= @recipe.title %></h1>
	<h2><a href="<%= recipe_path(@recipe) %>">/<%= @recipe.slug %></a></h2>
</div>

<div class="main-padding-large">
	<div class="tabs">   
	  <div class="tab">
	    <input type="radio" id="tab-1" name="tab-group-1" checked>
	    <label class="tab-label" for="tab-1">
	    	<span class="pure-hidden-phone">
	    		Details
	    	</span>
	    	<span class="pure-hidden-tablet pure-hidden-desktop">
	    		D
	    	</span>
	    </label>
	     
	    <div class="content">
	      <%= render 'details' %>
	    </div> 
	   </div>
	    
	 	<div class="tab">
	    <input type="radio" id="tab-2" name="tab-group-1">
	    <label class="tab-label" for="tab-2">
	    	<span class="pure-hidden-phone">
	    		Ingredients 
	    		<span id="ingredient_count_desktop">
	    			<%= render 'ingredients/ingredient_count' %>
	    		</span>
	    	</span>

	    	<span class="pure-hidden-tablet pure-hidden-desktop">
	    		I 
	    		<span id="ingredient_count_phone">
	    			<%= render 'ingredients/ingredient_count' %>
	    		</span>
	    	</span>
	    </label>
	     
	    <div class="content">
	      <%= render 'ingredients/new' %>
	      <div id="ingredient_list">
					<%= render 'ingredients/ingredient_list' %>
				</div>
	    </div> 
	  </div>
	    
	    <div class="tab">
	    	<input type="radio" id="tab-3" name="tab-group-1">
	    	<label class="tab-label" for="tab-3">
	    		<span class="pure-hidden-phone">
	    			Steps 
	    			<span id="step_count_desktop">
	    				<%= render 'steps/step_count' %>
	    			</span>
	    		</span>
	    		<span class="pure-hidden-tablet pure-hidden-desktop">
	    			S 
	    			<span id="step_count_phone">
	    				<%= render 'steps/step_count' %>
	    			</span>
	    		</span>
	    	</label>
	   
	    <div class="content">
	      <%= render 'steps/new' %>
	      <div id="step_list">
					<%= render 'steps/step_list' %>
				</div>
	    </div> 
	  </div>
	</div>
</div>