<div class="header">
	<h1><%= @recipe.title %></h1>
	<h2><a href="<%= recipe_path(@recipe) %>">/<%= @recipe.slug %></a></h2>
</div>

<div class="main-padding-large">
	<div class="tabs">   
	  <div class="tab">
	    <input type="radio" id="tab-1" name="tab-group-1" checked>
	    <label class="tab-label" for="tab-1">
	    	<span class="pure-hidden-phone">
	    		Details
	    	</span>
	    	<span class="pure-hidden-tablet pure-hidden-desktop">
	    		D
	    	</span>
	    </label>
	     
	    <div class="content">
	      <%= render 'details' %>
	    </div> 
	   </div>
	    
	 	<div class="tab">
	    <input type="radio" id="tab-2" name="tab-group-1">
	    <label class="tab-label" for="tab-2">
	    	<span class="pure-hidden-phone">
	    		Ingredients [ <%= @recipe.ingredients.count %> ]
	    	</span>
	    	<span class="pure-hidden-tablet pure-hidden-desktop">
	    		I [ <%= @recipe.ingredients.count %> ]
	    	</span>
	    </label>
	     
	    <div class="content">
	      <%= render 'ingredients/new' %>
				<%= render 'ingredients/ingredient_list' %>
	    </div> 
	  </div>
	    
	    <div class="tab">
	    	<input type="radio" id="tab-3" name="tab-group-1">
	    	<label class="tab-label" for="tab-3">
	    		<span class="pure-hidden-phone">
	    			Steps [ <%= @recipe.steps.count %> ]
	    		</span>
	    		<span class="pure-hidden-tablet pure-hidden-desktop">
	    			S [ <%= @recipe.steps.count %> ]
	    		</span>
	    	</label>
	   
	    <div class="content">
	      <%= render 'steps/new' %>
				<%= render 'steps/step_list' %>
	    </div> 
	  </div>
	</div>
</div>