<%= form_for @recipe, remote: true do |f| %>
<div class="main-padding">
	<div class="progress">
	  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
	  	
	  </div>
	</div>
	<hr>
</div>

<div id="create-recipe-one" class='main-padding'>
	<div class="new-recipe-header">
		My recipe's name is...
	</div>

	<div class="name-section">
		<%= f.text_field :name, placeholder: "Kalbi Beef", class: "ingredient" %>
	</div>

	<%= link_to raw("Next&nbsp;&nbsp;<i class='fa fa-arrow-right'></i>"), '#!', class: "btn btn-default btn-success", id: "next-btn-one" %>
</div>

<div id="create-recipe-two" class='main-padding'>
	<div class="new-recipe-header">
		Long story short...
	</div>

	
	<div class="story-section">
		<%= f.text_field :story, placeholder: "I thought of this in the shower", id: "resize" %>
	</div>
	<button class="btn btn-default" id="back-btn-one">Back</button>
	<%= link_to raw("Next&nbsp;&nbsp;<i class='fa fa-arrow-right'></i>"), '#!', class: "btn btn-default btn-success", id: "next-btn-two" %>
</div>

<div id="create-recipe-three" class='main-padding'>
	<div class="new-recipe-header">
		I just threw in a few ingredients like...
	</div>

	<ul class="ingredient-section">
		<div class="ingredient-list">
			<%= render @ingredients %>
		</div>
		<li>
			<div class="ingredient-row row">
				<div class="col-md-1" style="max-width: 20px;">
					<i class="fa fa-check"></i>
				</div>

				<%= form_for Ingredient.new, remote: true, html: {id: "new-ingredient-form"} do |f| %>
				<div class="col-md-11">
					<%= f.text_field :name, placeholder: "sesame oil", class: "ingredient" %>
					<%= f.submit "Add this ingredient", class: "add-ingredient-btn btn btn-default" %>
				</div>
				<% end %>
			</div>
		</li>
	</ul>

	<button class="btn btn-default" id="back-btn-two">Back</button>
	<button class="btn btn-default btn-success" id="next-btn-three">Next&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button>
</div>

<div id="create-recipe-four" class='main-padding'>
	<div class="new-recipe-header">
		I whipped up my masterpiece in <%= f.text_field :time, class: "time-input", placeholder: "2 hours" %>
	</div>

	<ol class="step-section">
		<div class="step-list">
			<%= render @steps %>
		</div>
		<li>
			<%= form_for Step.new, remote: true, html: {id: "new-step-form"} do |f| %>
				<%= f.text_field :description, class: "ingredient", placeholder: "Just throw it in the oven at 350 degrees for 15 minutes." %>
				<%= f.submit "Add this step", class: "add-ingredient-btn btn btn-default" %>
			<% end %>
		</li>
	</ol>

	<button class="btn btn-default" id="back-btn-three">Back</button>
	<button class="btn btn-default btn-success" id="next-btn-four">Next&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button>
</div>

<div id="create-recipe-five" class='main-padding'>
	<div class="new-recipe-header">
		Add out popped...
	</div>

	<div class="recipe-image-section">
		<%= form_for RecipeImage.new, remote: true, html: {id: "new-recipe-image-form"} do |f| %>
			<%= f.filepicker_field :img, button_class: "btn btn-default add-ingredient-btn", button_text: "Add a new photo", onchange: "$('.hidden-button').trigger('click');" %>
			<%= f.submit nil, class: "hidden-button", style: "display: none;" %>
		<% end %>
		<div style='clear:both;'></div>
	</div>

	<div class="list-photos">
		<div class="new-photos">
		</div>
		<%= render @recipe_images %>

		<div style="clear:both;"></div>
	</div>

	<div style="clear:both;"></div>

	<button class="btn btn-default" id="back-btn-four">Back</button>
	<%= button_tag(type: 'submit', id: 'next-btn-five', class: 'btn btn-default btn-success') do %>
		<i class="fa fa-cutlery"></i>&nbsp;&nbsp;Go See Your Recipe!
	<% end %>
</div>

<% end %>

<script>
	$(document).ready(function(){

		$("#next-btn-one").click(function(){
     	$("#create-recipe-one").hide();
     	$("#create-recipe-two").show();
     	$("textarea").css({"height": "20px"});
     	$("#create-recipe-two").animate({ marginLeft: "10%"} , 500);
     	$(".progress-bar").css({"width": "20%"});
     	$(".progress-bar").html("20%");
  	});

  	$("#next-btn-two").click(function(){
  		$("#create-recipe-two").hide();
  		$("#create-recipe-three").show();
  		$("#create-recipe-three").animate({ marginLeft: "10%"} , 500);
  		$(".progress-bar").css({"width": "40%"});
  		$(".progress-bar").html("40%");
  	});

  	$("#next-btn-three").click(function(){
  		$("#create-recipe-three").hide();
  		$("#create-recipe-four").show();
  		$("#create-recipe-four").animate({ marginLeft: "10%"} , 500);
  		$(".progress-bar").css({"width": "60%"});
  		$(".progress-bar").html("60%");
  	});

  	$("#next-btn-four").click(function(){
  		$("#create-recipe-four").hide();
  		$("#create-recipe-five").show();
  		$("#create-recipe-five").animate({ marginLeft: "10%"} , 500);
  		$(".progress-bar").css({"width": "80%"});
  		$(".progress-bar").html("80%");
  	});

  	$("#next-btn-five").click(function(){
  		$(".progress-bar").css({"width": "100%"});
  		$(".progress-bar").html("100%");
  	});

  	$("#back-btn-one").click(function(){
  		$("#create-recipe-two").hide();
  		$("#create-recipe-two").animate({ marginLeft: "100%" }, 500);
  		$("#create-recipe-one").show();
  		$("#create-recipe-one").animate({ marginLeft: "10%"}, 500);
  		$(".progress-bar").css({"width": "0%"});
  		$(".progress-bar").html("");
  	});

  	$("#back-btn-two").click(function(){
  		$("#create-recipe-three").hide();
  		$("#create-recipe-three").animate({ marginLeft: "100%" }, 500);
  		$("#create-recipe-two").show();
  		$("#create-recipe-two").animate({ marginLeft: "10%"}, 500);
  		$(".progress-bar").css({"width": "20%"});
  		$(".progress-bar").html("20%");
  	});

  	$("#back-btn-three").click(function(){
  		$("#create-recipe-four").hide();
  		$("#create-recipe-four").animate({ marginLeft: "100%" }, 500);
  		$("#create-recipe-three").show();
  		$("#create-recipe-three").animate({ marginLeft: "10%"}, 500);
  		$(".progress-bar").css({"width": "40%"});
  		$(".progress-bar").html("40%");
  	});

  	$("#back-btn-four").click(function(){
  		$("#create-recipe-five").hide();
  		$("#create-recipe-five").animate({ marginLeft: "100%" }, 500);
  		$("#create-recipe-four").show();
  		$("#create-recipe-four").animate({ marginLeft: "10%"}, 500);
  		$(".progress-bar").css({"width": "60%"});
  		$(".progress-bar").html("60%");
  	});
	});
</script>