<% if signed_in? %>

	<% @recipes.each do |recipe| %>
		<% if signed_in? %>
			<%= link_to "up", vote_recipe_path(recipe, type: "up"), method: "post" %>
		<% end %>
		<%= pluralize recipe.reputation_for(:votes).to_i, "vote" %>	
		<%= recipe.name %>
		<%= filepicker_image_tag recipe.recipe_images[0].img, w: 100, h: 100 %>
		<br><br><br>
	<% end %>

<% else %>

<div class="pure-g-r">
  <div class="text-box pure-u-1">
    <div class="l-box">
      <div class="text-box-head" id="matilde-head">Share recipes from around the world</div>
      <p class="text-box-subhead">Login  /  Sign Up</p>
    </div>
  </div>

  <div class="photo-box pure-u-1-4 red">
    <a href="#">  
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>

  <div class="photo-box pure-u-1-4 creme">
  <a href="#">  
    <%= render :partial => 'layouts/circle' %>
  </a>
  </div>

  <div class="photo-box pure-u-1-4 red">
    <a href="#">  
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>

  <div class="photo-box pure-u-1-4 creme">
    <a href="#">  
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>

  <div class="photo-box pure-u-1-4 pink">
    <a href="#">  
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>

  <div class="photo-box pure-u-1-4 light-pink">
    <a href="#">
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>

  <div class="photo-box pure-u-1-4 pink">
    <a href="#">
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>

  <div class="photo-box photo-box pure-u-1-4 light-pink">
    <a href="#">
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>

  <div class="photo-box photo-box pure-u-1-4 red">
    <a href="#">
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>

  <div class="photo-box photo-box pure-u-1-4 creme">
    <a href="#">
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>

  <div class="photo-box photo-box pure-u-1-4 red">
    <a href="#">
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>

  <div class="photo-box photo-box pure-u-1-4 creme">
    <a href="#">
      <%= render :partial => 'layouts/circle' %>
    </a>
  </div>
</div> 

<% end %>