<% provide(:title, @recipe.title) %>


<% if @recipe.filepicker_url? %>
	<div class="recipe-img">
		<%= filepicker_image_tag @recipe.filepicker_url %>
	</div>
<% end %>

<span class="row-fluid">
	<div class="recipe-header col-md-7">
		<div class="recipe-title">
			<%= @recipe.title %>
		</div>
		<div class="recipe-description">
			<%= raw(@recipe.description) %>
		</div>
	</div>

	<div class="ingredients-header col-md-5">
		<%= render 'ingredients_section' %>
	</div>
</span>

<%= render 'steps_section' %>