<% provide(:title, @recipe.title) %>

<div class="header">
	<h1><%= @recipe.title %></h1>
	<% if @recipe.description? %>
		<h2><blockquote>"<%= raw(@recipe.description) %>"</blockquote></h2>
	<% end %>
</div>

<% if @recipe.filepicker_url? %>
	<div class="recipe-img ">
		<%= filepicker_image_tag @recipe.filepicker_url %>
	</div>
<% end %>

<div class="header">
	<%= render 'ingredients_section' %>
</div>

<%= render 'steps_section' %>