<% provide(:title, "Edit user") %>

<div class="header">
	<h1>Update Your Profile</h1>
	<h2>And make sure to add your pretty mug!</h2>
</div>

<div class="main-padding">
	<div class="pure-form pure-form-stacked settings-form">
		<%= simple_form_for @user do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
				
				<% if @user.filepicker_url? %>
					<div class="same-line">
						<%= filepicker_image_tag @user.filepicker_url, w: 60, h: 60, fit: 'clip' %>

						<div class="link-lookalike-position">
							<%= f.filepicker_field :filepicker_url, button_class: "btn btn-default add-ingredient-btn",button_text: "Add a new photo", onchange: "$('.submit-button').trigger('click');" %>
						</div>
					</div>
				<% else %>
					<%= f.filepicker_field :filepicker_url, button_text: "Upload Your Picture", button_class: "link-lookalike link-lookalike-left" %>
				<% end %>

				<fieldset>
					<%= f.input :name %>

					<%= f.input :email %>

					<%= f.collection_radio_buttons :gender, [[true, 'Male'], [false, 'Female']], :first, :last %>

					<%= f.input :age %>

					<%= f.input :city %>

					<%= f.input :state, collection: ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"] %>
					<br/>
					<%= f.submit "Save Changes", class: "pure-button pure-button-primary submit-button" %>
				</fieldset>
			</div>
		<% end %>
	</div>
</div>