<% provide(:title, "Edit user") %>

<div class="header">
	<h1>Update Your Profile</h1>
	<h2>And make sure to add your pretty mug!</h2>
</div>

<div class="main-padding">
	<div class="pure-form pure-form-stacked settings-form">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
				
				<% if @user.filepicker_url? %>
					<div class="same-line">
						<%= filepicker_image_tag @user.filepicker_url, w: 60, h: 60, fit: 'clip' %>
						<div class="link-lookalike-position">
							<%= f.filepicker_field :filepicker_url, button_text: "Upload New Picture", button_class: "link-lookalike" %>
						</div>
					</div>
				<% else %>
					<%= f.filepicker_field :filepicker_url, button_text: "Upload Your Picture", button_class: "link-lookalike link-lookalike-left" %>
				<% end %>

				<fieldset>
					<%= f.label :name %>
					<%= f.text_field :name %>


					<%= f.label :email %>
					<%= f.text_field :email %>

					<%= f.label :description %>
					<%= f.text_area :description %>

					<%= f.label :password %>
					<%= f.password_field :password %>


					<%= f.label :password_confirmation, "Confirm Password" %>
					<%= f.password_field :password_confirmation %>
					<br/>
					<%= f.submit "Save Changes", class: "pure-button pure-button-primary" %>
				</fieldset>
			</div>
		<% end %>
	</div>
</div>