<% provide(:title, 'Sign up') %>

<div class="main-padding signin-form">
	<%= simple_form_for @user do |f| %>
		<%= f.input :name, placeholder: "name" %>
		<%= f.input :email, placeholder: "email" %>
		<%= f.input :password, placeholder: "password" %>
		<%= f.submit "Sign Up" %>
	<% end %>
</div>