<% provide(:title, @user.name) %>

<!-- dashboard container -->

<div id="dashboard-container">
	
	<!-- side navbar -->

	<div id="side-navbar">
		<div class="business-name">
			<%= @user.name %>
		</div>
		<div class="side-item">
			<span class="fontawesome-calendar"></span>
			What's due?
		</div>
		<div class="side-item">
			<span class="fontawesome-user"></span> Customers
		</div>
		<div class="side-item">
			<span class="fontawesome-list"></span>
			Articles
		</div>
	</div>

	<!-- where the action happens -->

	<div id="main-container">
		<div id="article-container">
			<%= link_to "+ Add New Article", "#!", id: "new-article" %>

			<%= simple_form_for Article.new, remote: true, html: {id: "new-article-form"} do |f| %>
				<div class="single-article" id="new-article-wrapper">
					<div class="article-img">
						<%= image_tag "clothes_hanging.jpg" %>
					</div>
					<div class="article-name article-node">
						<%= f.input :name, required: false %>
					</div>
					<div class="article-price article-node">
						<%= f.input :price, as: :string, label: "Price ($)", required: false %>
					</div>
					<div style="clear:both;"></div>
					<br>
					<%= f.button :submit, class: "orange-button" %>
				</div>
			<% end %>
		</div>

		<div id="new-article-popup">
		</div>

		<div id="all-articles">
			<%= render @articles %>
		</div>

	</div>
</div>