<% provide(:title, @user.name) %>

<!-- dashboard container -->

<div id="dashboard-container">
	
	<!-- side navbar -->

	<div id="side-navbar">
		<div class="business-name">
			<%= @user.name %>
		</div>
		<div class="side-item" id="orders-link">
			<span class="fontawesome-calendar"></span>
			&nbsp;&nbsp;
			What's due?
		</div>
		<div class="side-item" id="customers-link">
			<span class="fontawesome-user"></span> 
			&nbsp;&nbsp;
			Customers
		</div>
		<div class="side-item" id="articles-link">
			<span class="fontawesome-list"></span>
			&nbsp;&nbsp;
			Articles
		</div>
		<div class="side-item" id="reports-link">
			<span class="fontawesome-bar-chart"></span>
			&nbsp;&nbsp;
			Reports
		</div>
	</div>

	<!-- where the action happens -->

	<div id="main-container">
		<%= render 'articles/dashboard_articles' %>
		<%= render 'customers/dashboard_customers' %>
		<%= render 'orders/dashboard_orders' %>
		<%= render 'reports/dashboard_reports' %>
	</div>
</div>

<script>
$(document).ready(function(){
	$("#customers-link").click(function(){
		$("#customer-container").show();
		$("#article-container").hide();
		$("#order-container").hide();
		$("#report-container").hide();
	});

	$("#articles-link").click(function(){
		$("#customer-container").hide();
		$("#article-container").show();
		$("#order-container").hide();
		$("#report-container").hide();
	});

	$("#orders-link").click(function(){
		$("#customer-container").hide();
		$("#article-container").hide();
		$("#order-container").show();
		$("#report-container").hide();
	});

	$("#reports-link").click(function(){
		$("#customer-container").hide();
		$("#article-container").hide();
		$("#order-container").hide();
		$("#report-container").show();
	});

	$(".side-item").click(function(){
		$(".side-item").css({"background" : "none", "color" : "#6e6e6e", "border-color" : "#e5e5e5"});
		$(this).css({"background" : "rgba(85, 151, 183, 1.0)", "color" : "white", "border-color" : "rgba(85, 151, 183, 1.0)"});
	});
});
</script>