<% provide(:title, @user.name) %>

<!-- dashboard container -->

<div id="dashboard-container">
	
	<!-- side navbar -->

	<div id="side-navbar">
		<div class="business-name">
			<%= @user.name %>
		</div>
		<div class="side-item" id="customers-link">
			<span class="fontawesome-shopping-cart"></span>
			&nbsp;&nbsp;
			Checkout
		</div>
		<div class="side-item" id="orders-link">
			<span class="fontawesome-calendar"></span>
			&nbsp;&nbsp;
			What's due?
		</div>
		<div class="side-item" id="articles-link">
			<span class="fontawesome-list"></span>
			&nbsp;&nbsp;
			Articles
		</div>
		<div class="side-item" id="reports-link">
			<span class="fontawesome-bar-chart"></span>
			&nbsp;&nbsp;
			Reports
		</div>
		<div class="side-item" id="rack-link">
			<span class="fontawesome-barcode"></span>
			&nbsp;&nbsp;
			Rack It!
		</div>
	</div>

	<!-- where the action happens -->

	<div id="main-container">
		<%= render 'customers/dashboard_customers' %>
		<%= render 'articles/dashboard_articles' %>
		<%= render 'orders/dashboard_orders' %>
		<%= render 'reports/dashboard_reports' %>
		<%= render 'orders/rack' %>
	</div>
</div>

<script>
$(document).ready(function(){

	$("#articles-link, #orders-link, #reports-link, #customers-link, #rack-link").click(function(){
		$(".basic-container").hide("slide", { direction: "right" }, 300);
	});

	$("#articles-link, #orders-link, #reports-link").click(function(){
		$("#select-article-container").remove();
		$("#orderModal").remove();
	});

	$("#customers-link").click(function(){
		$("#customer-container").show("slide", { direction: "left" }, 300);
	});

	$("#articles-link").click(function(){
		$("#article-container").show("slide", { direction: "left" }, 300);
		$(".single-article").show("slide", { direction: "left" }, 300);
	});

	$("#orders-link").click(function(){
		$("#order-container").show("slide", { direction: "left" }, 300);
	});

	$("#reports-link").click(function(){
		$("#report-container").show("slide", { direction: "left" }, 300);
	});

	$("#rack-link").click(function(){
		$("#rack-container").show("slide", { direction: "left" }, 300);
	});

	$(".side-item").click(function(){
		$(".side-item").css({"background" : "none", "color" : "#6e6e6e", "border-color" : "#e5e5e5"});
		$(this).css({"background" : "rgba(85, 151, 183, 1.0)", "color" : "white", "border-color" : "rgba(85, 151, 183, 1.0)"});
	});
});
</script>