<% provide(:title, @ingredient.recipe.title) %>

<div class="header">
	<h1>Update Ingredient</h1>
	<h2><%= @ingredient.title %></h2>
</div>

<div class="main-padding">
	<div class="pure-form">
		<%= form_for(@ingredient) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<fieldset class="pure-group">
				<%= f.text_field :quantity, placeholder: "quantity" %>

				<%= f.text_field :title, placeholder: "title" %>

				<%= f.hidden_field :recipe_id %>
			</fieldset>

			<%= f.submit "Update Ingredient", class: "pure-button pure-button-primary" %>
		<% end %>
	</div>
</div>