<!-- individual customer in customer list -->

<div class="single-customer">
	<div class="customer-img" style="cursor: pointer;">
		<% if customer.img? %>
			<%= filepicker_image_tag customer.img, w: 110, h: 110, fit: 'crop' %>
		<% else %>
			<div class="no-photo">
				No Photo
			</div>
		<% end %>
	</div>
	<div class="customer-node mini-customer-node customer-first-name">
		<label>First Name</label><br>
		<%= best_in_place customer, :first_name %>
	</div>
	<div class="customer-node mini-customer-node customer-last-name">
		<label>Last Name</label><br>
		<%= best_in_place customer, :last_name %>
	</div>
	<div class="customer-node customer-phone">
		<label>Phone</label><br>
		<%= best_in_place customer, :phone %>
	</div>
	<div class="extra-customer-details">
		<div class="customer-node mini-customer-node customer-starch">
			<label>Starch</label><br>
			<%= best_in_place customer, :starch, type: :select, collection: [["none", "none"], ["light", "light"], ["medium", "medium"], ["heavy", "heavy"]] %>
		</div>
		<div class="customer-node mini-customer-node customer-credits">
			<label>Credits</label><br>
			<%= best_in_place customer, :credits %>
		</div>
		<div class="customer-node customer-email">
			<label>Email</label><br>
			<%= best_in_place customer, :email %>
		</div>
	</div>

	<div style="clear:both;"></div>

	<!-- modal to delete customer -->

	<div class="delete-customer">
		<span class="fontawesome-remove" data-toggle="modal" data-target="#customer-<%= customer.id %>"></span>

		<div class="modal fade" id="customer-<%= customer.id %>">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		      	<p>
		      		Sure you want to delete <%= customer.first_name %> <%= customer.last_name %>?
		      	</p>
		      </div>
		      <div class="modal-footer">
		      	<%= link_to "Yarp!", customer, method: :delete, remote: true, class: "button orange-button" %>
		    	</div>
		    </div>
		  </div>
		</div>
	</div>
</div>

<!-- create new order or view order history -->

<%= simple_form_for Order.new, remote: true, html: {id:"new-order-form", class: "order-form"} do |f| %>
	<%= f.input :customer_id, input_html: {value: customer.id, class: "hidden"}, label: false %>
	<%= f.submit "Place Order", class: "orange-button button place-order-button" %>
	<%= link_to "Order History", "#!", class: "grey-button button order-history-button", remote: true %>
<% end %>

<!-- order history -->

<div class="order-history">
	<table class="order-history-table">
		<tr>
			<th>Order #</th>
			<th>Articles</th>
			<th>Total Price</th>
			<th>Tags</th>
			<th>Rack #</th>
			<th>Drop Off Date</th>
			<th>Pick Up Date</th>
		</tr>

		<% customer.orders.recent_ones_first.each do |order| %>
		</tr>
			<td><%= order.id %></td>
			<td>
				<ul>
				<% order.order_items.each do |order_item| %>
					<li>
						<% if order_item.quantity > 0 %>
							<%= best_in_place order_item, :quantity %>
							<%= order_item.name.pluralize(order_item.quantity) %>
						<% end %>
					</li>
				<% end %>
				</ul>
			</td>
			<td>
				$<%= best_in_place order, :total_price %>
				<div class="<%= 'blue' if order.credits_used > 0 %>">
					<%= best_in_place order, :credits_used %> <%= "credit".pluralize(order.credits_used) %>
				</div>
			</td>
			<td><%= best_in_place order, :tag_number %></td>
			<td></td>
			<td>
				<%= order.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%D") %><br>
				<%= order.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%I:%M%p") %>
			</td>
			<td class="pickup-<%= order.id %>" style="min-width: 165px;">
				<% if order.picked_up == true %>
					<%= order.pickup_date.in_time_zone("Pacific Time (US & Canada)").strftime("%D") %><br>
					<%= order.pickup_date.in_time_zone("Pacific Time (US & Canada)").strftime("%I:%M%p") %>
				<% else %>
					<div class="estimated-date">
						<%= order.pickup_date.in_time_zone("Pacific Time (US & Canada)").strftime("%D") %>
					</div>
					<div class="pickup-button">
						<%= link_to "Picked Up", save_pickup_date_order_path(order), class: "button orange-button pickup-button-action", remote: true %>
					</div>
				<% end %>
			</td>
		<tr>
		<% end %>
	</table>
</div>