<div class="single-article">
	<div class="article-img" style="cursor: pointer;">
		<% if customer.img? %>
			<%= filepicker_image_tag customer.img, w: 110, h: 110, fit: 'crop' %>
		<% else %>
			<div class="no-photo">
				No Photo
			</div>
		<% end %>
	</div>
	<div class="article-name article-node" style="width:175px;">
		<label>First Name</label><br>
		<%= best_in_place customer, :first_name %>
	</div>
	<div class="article-price article-node" style="width:175px; border-bottom: 0px;">
		<label>Last Name</label><br>
		<%= best_in_place customer, :last_name %>
	</div>
	<div class="article-price article-node">
		<label>Phone</label><br>
		<%= best_in_place customer, :phone %>
	</div>
	<div class="customer-dropdown">
		<div class="article-price article-node" style="width:175px; border-bottom: 0px;">
			<label>Starch</label><br>
			<%= best_in_place customer, :starch, type: :select, collection: [["none", "none"], ["light", "light"], ["medium", "medium"], ["heavy", "heavy"]] %>
		</div>
		<div class="article-price article-node" style="width: 175px; border-bottom: 0px;">
			<label>Credits</label><br>
			<%= best_in_place customer, :credits %>
		</div>
		<div class="article-price article-node" style="border-top: 1px solid #e5e5e5;">
			<label>Email</label><br>
			<%= best_in_place customer, :email %>
		</div>
	</div>
	<div style="clear:both;"></div>
	<div class="delete-article">
		<span class="fontawesome-remove" data-toggle="modal" data-target="#customer-<%= customer.id %>"></span>

		<div class="modal fade" id="customer-<%= customer.id %>">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		      	<p>
		      		Sure you want to delete <%= customer.first_name %> <%= customer.last_name %>?
		      	</p>
		      </div>
		      <div class="modal-footer">
		      	<%= link_to "Yarp!", customer, method: :delete, remote: true, class: "orange-button" %>
		    	</div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
</div>

<%= simple_form_for Order.new, remote: true, html: {id:"new-order-form", style: "display: none;"} do |f| %>
	<%= f.input :customer_id, input_html: {value: customer.id, class: "hidden"}, label: false %>
	<%= f.submit "Place Order", class: "orange-button place-order-button", style: "width: 135px; margin-bottom: 15px; cursor: pointer;" %>
<% end %>