<% order = current_user.orders.recent_ones_first.first %>

<div class="modal-body">
	<div class="order-modal-name">
		<%= order.customer_first_name %> <%= order.customer_last_name %>
	</div>
	<div class="order-modal-price order-modal-title">
		$<%= best_in_place order, :total_price %>
	</div>
	<div class="order-modal-price order-modal-tag" style="display: none;">
		<% @total_tags = 0 %>
		<% order.order_items.each do |order_item| %>
			<% @total_tags+=order_item.quantity %>
		<% end %>
		<%= pluralize(@total_tags, "article") %>
	</div>
	<% if order.customer.credits > 0 %>
		<%= link_to use_store_credits_order_path(order), remote: true do %>
			<div class="store-credit-button button grey-button">
				<i class="fa fa-gift"></i> Use Credits (<%= number_to_currency(order.customer.credits, precision: (order.customer.credits.round == order.customer.credits) ? 0 : 2) %>)
			</div>
		<% end %>
	<% end %>
	<%= link_to add_cash_type_order_path(order), remote: true do %>
		<div class="order-modal-button button orange-button">
			<i class="fa fa-money"></i> Pay With Cash
		</div>
	<% end %>
	<%= link_to add_card_type_order_path(order), remote: true do %>
		<div class="order-modal-button button orange-button">
			<i class="fa fa-credit-card"></i> Pay With Card
		</div>
	<% end %>
	<%= link_to add_check_type_order_path(order), remote: true do %>
		<div class="order-modal-button button orange-button">
			<span>-_-</span> Pay With Check
		</div>
	<% end %>

	<div id="order-modal-tag">
		<%= best_in_place order, :tag_number %>
	</div>
</div>
<div class="modal-footer order-modal-footer">
	<%= link_to "Complete Order!", "/orders/#{order.id}/customer-receipt", class: "button orange-button", target: "_blank" %>
</div>

<script>
$(document).ready(function(){
	$(".order-modal-button").click(function(){
		$(".order-modal-button").hide("slide", {direction:"right"}, 300, function(){
			jQuery(".best_in_place").best_in_place();
			$("#order-modal-tag").show("slide", {direction:"left"}, 300);
		});

		$(".order-modal-title").hide("slide", {direction:"right"}, 300, function(){
			jQuery(".best_in_place").best_in_place();
			$(".order-modal-tag").show("slide", {direction:"left"}, 300);
			$(".modal-footer").show("slide", {direction: "left"}, 300);
		});
	});
});
</script>