<div class="business-receipt">

	<!-- tag number -->

	<div class="tag-number-section">
		<div class="tag-label pull-left">
			Tags
		</div>
		<div class="tag-number pull-right">
			<%= @order.tag_number %>
		</div>
		<div style="clear:both;"></div>
	</div>

	<!-- Order Details -->

	<div class="order-details">
		<div class="order-number">
			<%= @order.id.to_s %>
		</div>
		<div class="customer-name">
			<%= @order.customer.first_name %> <%= @order.customer.last_name %>
		</div>
		<div class="order-items">
			<% @order.order_items.each do |order_item| %>
				<div class="single-order-item">
					<%= order_item.quantity %> <%= order_item.name.pluralize(order_item.quantity) %>
				</div>
			<% end %>
		</div>
	</div>

	<!-- pickup details and total price -->

	<div class="pickup-details">
		<div class="customer-name pull-left">
			Pickup <%= @order.pickup_date.in_time_zone("Pacific Time (US & Canada)").strftime("%a") %> <%= @order.pickup_date.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d") %>
		</div>
		<div class="order-total-price pull-right">
			<%= number_to_currency(@order.total_price, precision: (@order.total_price.round == @order.total_price) ? 0 : 2) %>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>