<% content_for :dashboard_content do %>
	<div id="order-container">

		<!-- search orders by tag number and total price -->

		<%= form_tag orders_path, method: :get, style: "margin-bottom: -20px;" do %>
			<%= text_field_tag :query, params[:query], placeholder: "Search by tag number or total price", class: "input customer-search-field" %>
		<% end %>

		<table class="order-history-table">
			<tr>
				<th>#</th>
				<th>Customer</th>
				<th>Rack</th>
				<th>Tag</th>
				<th>Credits Used</th>
				<th>Total Price</th>
				<th>Pickup Date</th>
			</tr>
			<% @orders.each do |order| %>
			<tr>
				<td>
					<%= order.id %>
				</td>
				<td style="text-align: left;">
					<%= filepicker_image_tag order.customer_img, w:50, h:50, fit:'crop' %>
					<%= order.customer_first_name %> 
					<%= order.customer_last_name %>
				</td>
				<td>
					<%= best_in_place order, :rack_number %>
				</td>
				<td>
					<%= best_in_place order, :tag_number %>
				</td>
				<td>
					<%= best_in_place order, :credits_used %>
				</td>
				<td>
					<%= best_in_place order, :total_price %>
				</td>
				<td class="pickup-<%= order.id %>" style="min-width: 165px;">
					<% if order.picked_up == true %>
						<%= order.pickup_date.in_time_zone("Pacific Time (US & Canada)").strftime("%D") %><br>
						<%= order.pickup_date.in_time_zone("Pacific Time (US & Canada)").strftime("%I:%M%p") %>
					<% else %>
						<div class="estimated-date">
							<%= order.pickup_date.in_time_zone("Pacific Time (US & Canada)").strftime("%D") %>
						</div>
						<div class="pickup-button">
							<%= link_to "Picked Up", save_pickup_date_order_path(order), class: "orange-button button pickup-button-action", remote: true %>
						</div>
					<% end %>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
<% end %>