<% provide(:title, @step.recipe.title) %>

<div class="header">
	<h1>Update Step<h1>
</div>

<div class="main-padding">
	<div class="pure-form pure-form-stacked">
		<%= form_for(@step) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<fieldset>
				<% if @step.filepicker_url? %>
					<div class="same-line">
						<%= filepicker_image_tag @step.filepicker_url, w: 60, h: 60, fit: 'clip' %>
						<div class="link-lookalike-position">
							<%= f.filepicker_field :filepicker_url, button_text: "Upload New Photo", class: "link-lookalike" %>
						</div>
					</div>
				<% else %>
					<%= f.filepicker_field :filepicker_url, button_text: "Upload Photo", class: "link-lookalike" %>
				<% end %>
			</fieldset>

			<fieldset>
				<%= f.text_area :description, placeholder: "description" %>

				<%= f.hidden_field :recipe_id %>
			</fieldset>

			<%= f.submit "Update Step", class: "pure-button pure-button-primary" %>
		<% end %>
	</div>
</div>