<!-- dashboard container -->

<div id="dashboard-container">
	
	<!-- side navbar -->

	<div id="side-navbar">
		<div class="business-name">
			<%= current_user.name %>
		</div>

		<%= link_to customers_path, class: cp(customers_path) do %>
		<div class="side-item">
			<i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Checkout
		</div>
		<% end %>

		<%= link_to orders_path, class: cp(orders_path) do %>
		<div class="side-item">
			<i class="fa fa-calendar"></i>&nbsp;&nbsp;What's due?
		</div>
		<% end %>

		<%= link_to articles_path, class: cp(articles_path) do %>
		<div class="side-item">
			<i class="fa fa-list"></i>&nbsp;&nbsp;Articles
		</div>
		<% end %>

		<%= link_to '/reports', class: cp('/reports') do %>
		<div class="side-item">
			<i class="fa fa-bar-chart-o"></i>&nbsp;&nbsp;Reports
		</div>
		<% end %>

		<%= link_to '/rack-it', class: cp('/rack-it') do %>
		<div class="side-item">
			<i class="fa fa-barcode"></i>&nbsp;&nbsp;Rack It!
		</div>
		<% end %>

		<%= link_to edit_user_path(current_user), class: cp(edit_user_path(current_user)) do %>
		<div class="side-item">
			<i class="fa fa-cog"></i>&nbsp;&nbsp;Settings
		</div>
		<% end %>

		<%= link_to signout_path, method: "delete" do %>
		<div class="side-item">
			<i class="fa fa-sign-out"></i>&nbsp;&nbsp;Sign Out
		</div>
		<% end %>
	</div>

	<!-- where the action happens -->

	<div id="main-container">
		<%= yield :dashboard_content %>
	</div>
</div>