<div class="navskinny">

  <!-- home page -->

  <%= link_to "The Sarmander", root_path, class: 'navbar-brand' %>


  <!-- If user is signed in, display all links inside "if signed_in?". If the user is NOT signed in, display all links inside "else" -->
<div class="nav-right">
  
    <% if signed_in? %>


      <!-- all recipes created by current user -->

      <%= link_to "My Recipes", "/my-recipes" %>


      <!-- create a new recipe -->

      <%= link_to "New Recipe", new_recipe_path %>


      <!-- edit current user's settings ie. name, email, city -->

      <%= link_to "Settings", edit_user_path(current_user) %>


      <!-- sign out -->

      <%= link_to "Sign Out", signout_path, method: "delete" %>

    <% else %>


      <!-- sign in -->

      <%= link_to "Sign In", signin_path %>


      <!-- sign up -->

      <%= link_to "Sign Up", signup_path %>
    <% end %>
  </div>
</div>
