<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
  <%= render 'layouts/ie_html5_shim' %>
</head>
<body class="pure-skin-sarmander">
		
<div id="layout">
	<a href="#menu" id="menuLink" class="menu-link">
    <!-- Hamburger icon -->
    <span></span>
  </a>
  <div id="menu">
		<%= render 'layouts/menu' %>
	</div>

	<div id="main">

    <% if !current_user && current_page?(root_path) %>
      <%= link_to signup_path, class: "dude-just-sign-up" do %>
        <div class="header">
          <h1>You can only see five recipes now.</h1> 
          <h2>Doesn't that suck? Well, click here to sign up and unlock all recipes!</h2>
        </div>
      <% end %>
    <% end %>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
  	
    <%= yield %>
  </div>
</div>

</body>
</html>
