<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/ie_html5_shim' %>
  <%= render 'layouts/font_awesome' %>
</head>

<body class="pure-skin-sarmander">
		
<%= render 'layouts/olark' %>

<div>
  <div>
    <div class="pure-g-r">

      <div class="text-box pure-u-1">
        <div class="l-box">
          <div class="text-box-head" id="matilde-head">Share recipes from around the world</div>
          <p class="text-box-subhead">Login / Sign Up</p>
        </div>
        </div>

        <div class="photo-box pure-u-1-4 red">
          <a href="#">  
            <%= render :partial => 'layouts/circle' %>
          </a>
        </div>

        <div class="photo-box pure-u-1-4 creme">
        <a href="#">  
          <%= render :partial => 'layouts/circle' %>
        </a>
        </div>

        <div class="photo-box pure-u-1-4 red">
          <a href="#">  
            <%= render :partial => 'layouts/circle' %>
          </a>
        </div>

        <div class="photo-box pure-u-1-4 creme">
          <a href="#">  
            <%= render :partial => 'layouts/circle' %>
          </a>
        </div>

        <div class="photo-box pure-u-1-4 pink">
          <a href="#">  
            <%= render :partial => 'layouts/circle' %>
          </a>
        </div>

        <div class="photo-box pure-u-1-4 light-pink">
          <a href="#">
            <%= render :partial => 'layouts/circle' %>
          </a>
        </div>

        <div class="photo-box pure-u-1-4 pink">
          <a href="#">
            <%= render :partial => 'layouts/circle' %>
          </a>
        </div>

        <div class="photo-box photo-box pure-u-1-4 light-pink">
          <a href="#">
            <%= render :partial => 'layouts/circle' %>
          </a>
        </div>

        <div class="photo-box photo-box pure-u-1-4 red">
          <a href="#">
            <%= render :partial => 'layouts/circle' %>
          </a>
        </div>

        <div class="photo-box photo-box pure-u-1-4 creme">
          <a href="#">
            <%= render :partial => 'layouts/circle' %>
          </a>
        </div>

        <div class="photo-box photo-box pure-u-1-4 red">
          <a href="#">
            <%= render :partial => 'layouts/circle' %>
          </a>
        </div>

        <div class="photo-box photo-box pure-u-1-4 creme">
          <a href="#">
            <%= render :partial => 'layouts/circle' %>
          </a>
        </div>
    </div> 
</div>

<% if false %>
	<div class="pure-u-1-3">
    <% if !current_user && current_page?(root_path) %>
      <%= link_to signup_path, class: "dude-just-sign-up" do %>
      <% end %>
    <% end %>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
  	
    <%= yield %>
  </div>
  <% end %>
</div>

</body>
</html>
