<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/google_fonts' %>
  <%= render 'layouts/ie_html5_shim' %>
</head>

<body class="<%= 'clothes_hanging_bg' if !signed_in? %>">

  <!-- loading wheel spins before page loads -->

  <div id="spinning-wheel">
  </div>

  <div class="hidden-container">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
    
    <%= yield %>

    <!-- load dashboard once user signs in -->

    <% if signed_in? %>
      <%= render 'layouts/dashboard' %>
    <% end %>
  </div>
</body>
</html>
