<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <%= render 'layouts/ie_html5_shim' %>
</head>

<body>
  <%= render 'layouts/header' %>

  <div id="spinning-wheel">
  </div>

  <div class="hidden-container" style="visibility:hidden;">
    <% if !current_user && current_page?(root_path) %>
      <%= link_to signup_path, class: "dude-just-sign-up" do %>
      <% end %>
    <% end %>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
  	
    <%= yield %>
  </div>
</body>
</html>
