<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/ie_html5_shim' %>
</head>

<body data-spy="scroll" data-target="#recipe-scroll" class="pure-skin-sarmander">
		
<% if false %>
<%= render 'layouts/olark' %>
<% end %>

  <%= render 'layouts/header' %>

  <% if !current_user && current_page?(root_path) %>
    <%= link_to signup_path, class: "dude-just-sign-up" do %>
    <% end %>
  <% end %>

  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
	
  <%= yield %>
</body>
</html>
